{% extends 'base.html' %}
{% block body %}
<form method="POST" class="course-form" action="{% url 'createProject' user.id %}">
    {% csrf_token %}
    <div class="container text-center">
        <div class="course-form__content">
            <h3 class="course-header">Enter Project Details</h3>
            <div class="course-form__header">Project Title</div>
            {{ form.projecttitle }}
            <br>
            <div class="course-form__header">Project Description</div>
            {{ form.projectdescription }}
            <br>
            <div class="course-form__header">Docker ID</div>
            {{ form.dockerid }}
            <br>
            <div class="course-form__header">Program Language Used</div>
            {{ form.projectlanguage }}
            <br>
            <div class="course-form__header">Database Used</div>
            {{ form.projectdatabase }}
            <br>
            <div class="course-form__header">Backend Used</div>
            {{ form.projectbackend }}
            <br>
            <div class="course-form__header">Misc. Technology Used</div>
            {{ form.projecttechnologymisc }}
            <br>
            <div class="course-form__header">Project Link</div>
            {{ form.projectlink }}
            <br>
            <div class="course-form__header">Project Image Link</div>
            {{ form.projectimagelink }}
            <br>
            <div class="course-form__header">Added Date</div>
            <input type="date" class="project-field-input" value="{% now 'Y-m-d' %}" {{ form.addeddate }}
            <br>
            <div class="course-form__header">Updated Date</div>
            <input type="date" class="project-field-input" value="{% now 'Y-m-d' %}" {{ form.updateddate }}
            <br>

            <button class="btn btn-dark" type="submit">Save Project</button>
        </div>
    </div>

</form>

<p class="text-center">
    <a href="{% url 'studentHome' user.id %}" class="btn btn-dark">Go Back</a>
</p>
{% endblock %}
