{% extends 'base.html' %}
{% block body %}
<form method="POST">
        {% csrf_token %}
<p>
    <a href="{% url 'studentHome' user.id %}" class="course-display__button">Go Back</a>
</p>
<div class="project-form">

<h1 style="text-align: center">Edit Project</h1>
        {% for field in form %}
    <div>

        <h4 class="project-field-label">{{ field.label }}</h4>
        {% if field.label == 'Updateddate' %}
            <input type="date" class="project-field-input" value="{% now "Y-m-d" %}" {{ field }}
            {% elif field.label == 'Addeddate'%}
            <input type="date" class="project-field-input" {{ field }}
            {% elif field.label == 'Projectdescription'%}
            <textarea class="project-field-input" {{ field }}
            {% else %}
        <input class="project-field-input" {{ field }}
        {% endif %}
    </div>
    {% endfor %}
    <button class="project-submit" type="submit">Save Project</button>
</div>

</form>

<p>
    <a href="{% url 'studentHome' user.id %}" class="course-display__button">Go Back</a>
</p>
{% endblock %}