
{% extends "base.html" %}
{% block body %}
{% include 'navbar.html' %}
    <div class="container mt-4">
        <h1>Group List</h1>
        <ul class="list-group">
            {% for group in groups %}
                <li class="list-group-item list-group-item-action" data-toggle="modal" data-target="#groupModal"
                    data-group-name="{{ group.group_name }}"
                    data-description="{{ group.description }}"
                    data-users="{% for user in group.users.all %}{{ user.username }}{% if not forloop.last %}, {% endif %}{% endfor %}"
                    data-projects="{% if group.projects.all %}{% for project in group.projects.all %}{{ project.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}No projects assigned{% endif %}">
                    {{ group.group_name }}
                </li>
            {% empty %}
                <li class="list-group-item">No groups available.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="groupModalLabel">Group Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 id="groupName"></h4>
                    <p><strong>Description:</strong> <span id="groupDescription"></span></p>
                    <p><strong>Users:</strong> <span id="groupUsers"></span></p>
                    <p><strong>Projects:</strong> <span id="groupProjects"></span></p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'addProject' %}" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $('#groupModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var groupName = button.data('group-name');
            var description = button.data('description');
            var users = button.data('users');
            var projects = button.data('projects');

            var modal = $(this);
            modal.find('#groupName').text(groupName);
            modal.find('#groupDescription').text(description);
            modal.find('#groupUsers').text(users);
            modal.find('#groupProjects').text(projects);
        });
    </script>
{% endblock %}
</html>
