{% extends 'base.html' %}

{% block body %}
{% include 'navbar.html' %}
<!-- Add Project File which contains form styling for Project Creation -->
<form action="./" method="POST" id="myForm">
    <div class="container mt-5 mb-5">
        <div class="p-4 shadow-sm login-form__content add-project-form">
            <h1 class="mb-3 text-center course-header" id="header">New Project</h1>
            <hr class="add-project-hr">
            {% csrf_token %}

            <!-- Display Django Messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <!-- Display Form Errors -->
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Please fix the following errors:</strong>
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li><strong>{{ field|title }}:</strong> {{ errors|join:", " }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="row">
                <!-- Left Column -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="name" class="form-label">Project Name</label>
                        {{ form.name }}
                    </div>

                    <div class="mb-3">
                        <label for="stack" class="form-label">Stack</label>
                        {{ form.stack }}
                    </div>

                    <div class="mb-3">
                        <label for="repo_link" class="form-label">Repo Link</label>
                        {{ form.repo_link }}
                    </div>

                    <!-- Users -->
                    <div class="mb-3">
                        <label for="available_users" class="form-label">Available Users</label>
                        <select id="available_users" class="form-control" size="8" multiple>
                            {% for user in form.available_users.field.queryset %}
                                <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Groups -->
                    <div class="mb-3">
                        <label for="available_groups" class="form-label">Available Groups</label>
                        <select id="available_groups" class="form-control" size="8" multiple>
                            {% for group in form.available_groups.field.queryset %}
                                <option value="{{ group.id }}">{{ group.group_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {% if edit %}
                    <div class="mb-3">
                        <label for="last_audit" class="form-label">Last Audit</label>
                        {{ form.last_audit }}
                    </div>
                    {% endif %}
                </div>

                <!-- Right Column -->
                <div class="col-md-6">

                    <div class="mb-3">
                        <label for="currently_in_use" class="form-check-label">Currently In Use:</label>
                        <br>
                        {{ form.currently_in_use }}
                    </div>
                    <br>

                    <div class="mb-3">
                        <label for="trello_link" class="form-label">Trello Link</label>
                        {{ form.trello_link }}
                    </div>

                    <div class="mb-3">
                        <label for="notes" class="form-label">Notes</label>
                        {{ form.notes }}
                    </div>

                    <div class="mb-3">
                        <label for="users" class="form-label">Selected Users</label>
                        <select id="users" name="users" class="form-control" size="8" multiple>
                            {% for user in form.selected_users.field.queryset %}
                                <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="mb-3">
                        <label for="groups" class="form-label">Selected Groups</label>
                        <select id="groups" name="groups" class="form-control" size="8" multiple>
                            {% for group in form.selected_groups.field.queryset %}
                                <option value="{{ group.id }}">{{ group.group_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                {{ form.description }}
            </div>
            <div class="text-center">
                <button id="submit" type="submit" class="add-project-button">Add Project</button>
                <button id="cancel" type="button" onclick="window.location.href='{% url 'home' %}'" class="cancel-project-button">Cancel</button>
            </div>
        </div>
    </div>
</form>

<script>
    <!-- Handles the Edit button in form modal -->
    {% if edit %}
        document.getElementById("header").innerText = "Edit Project"
        document.getElementById("submit").innerText = "Save Changes"
        document.getElementById("cancel").innerText = "Return to Homepage"
    {% endif %}

    <!-- Handles Dual List in forms -->
    function handleItemClick(event, listType, listName) {
        const clickedOption = event.target;
        const availableList = document.getElementById('available_' + listName);
        const selectedList = document.getElementById(listName);

        if (listType === 'available') {
            selectedList.appendChild(clickedOption);
        } else {
            availableList.appendChild(clickedOption);
        }

    }

    ['users', 'groups'].forEach(function (listName) {
        document.getElementById('available_' + listName).addEventListener('click', function (event) {
            if (event.target.tagName === 'OPTION') {
                handleItemClick(event, 'available', listName);
            }
        });

        document.getElementById(listName).addEventListener('click', function (event) {
            if (event.target.tagName === 'OPTION') {
                handleItemClick(event, 'selected', listName);
            }
        });
    });


    const myForm = document.getElementById("myForm");
    myForm.addEventListener("formdata", function (e) {
        let formData = e.formData;

        const selectedGroupList = Array.from(document.getElementById("groups").children);
        const selectedUserList = Array.from(document.getElementById("users").children);

        formData.delete("groups")
        formData.delete("users")

        for (let g of selectedGroupList) {
            formData.append("groups", g.value)
        }
        for (let u of selectedUserList) {
            formData.append("users", u.value)
        }
    });

</script>
{% endblock %}