{% extends "base.html" %}
{% block body %}
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-mid">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<form class="login-form" action="./" method="POST">
    {% csrf_token %}
            <div class="text-center login-form__content">
                <h3 class="course-header">Instructor Login</h3>
                <hr class="card">
                <div class="login-form__header">Login to your account</div>
                <div class="row justify-content-center">
                    {{ form.username }}
                </div>
                <br>
                <div class="row justify-content-center">
                    {{ form.password }}
                </div>
                <br>
                <button class="login-form__button" type="submit">Login</button>
                <hr/>
                <div>
                    <a class="btn btn-dark w-100 m-6" href="{% url 'register'  %}">Register</a>
                </div>
                <hr>
            </div>
</form>
<footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
</body>
{% endblock %}



</p>
</html>