{% extends 'base.html' %}

{% block body %}
{% if user.role == 'admin' or user.role == 'faculty' %}
<h1 class="container-fluid course-header display-4 ">Welcome {{user.username}}!</h1>
<div>
<p class="lead">
    <a href="#" class="btn btn-dark m-3">Create Group</a>
    <br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-dark m-3" type="submit">Logout</button>
    </form>
</p>
</div>

{% elif user.role == 'student' %}
<div class="container">
    <p>
        You do not have permission to access this page
    </p>
</div>
{% endif %}
{% endblock %}
