<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Manager</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        function showPassword() {
            let password1_field = document.getElementById("password1_id");
            let password2_field = document.getElementById("password2_id");
            if (password1_field.type === "password" && password2_field.type === "password") {
                password1_field.type = "text";
                password2_field.type = "text";
            } else {
                password1_field.type = "password";
                password2_field.type = "password";
            }
        }
    </script>
</head>
{% extends "base.html" %}
{% block body %}
<body>
<br>
<form class="login-form" action="./" method="POST">
    {% csrf_token %}
            <div class="login-form__content">
                <div class="login-form__header">Register your account</div>
                <div class="row justify-content-center">
                    {{ form.first_name }}
                </div>
                <br>
                <div class="row justify-content-center">
                    {{ form.last_name }}
                </div>
                <br>
                <div class="row justify-content-center">
                    {{ form.username }}
                </div>
                <br>
                <div class="row justify-content-center">
                    {{ form.password1 }}
                </div>
                <br>
                <div class="row justify-content-center">
                    {{ form.password2 }}
                </div>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" onclick="showPassword()" id="Password_Check" autocomplete="off">
                        <label class="form-check-label" for="Password_Check">
                            Show password
                        </label>
                    </div>
                </div>
                <br>
                <button class="login-form__button" type="submit">Register</button>
                <hr class="card">
                <div class="d-flex justify-content-center align-items-center">
                    <a class="btn btn-dark w-100 m-8" href="{% url 'login' %}">Go Back</a>
                </div>

            </div>
</form>

    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
</body>
{% endblock %}
</html>