
{% extends 'base.html' %}
{% block body %}
<form method="POST" class="course-form" action="{% url 'createProf' user.id %}">
        {% csrf_token %}
<br>
    <div class="course-form__content">
        <h3 class="course-header">Enter Details</h3>
        <div class="course-form__header">Course Title:</div>
        {{ form.courseName }}
        {{ form.groupName }}
        <br>

        <div class="course-form__header">Course Description:</div>
        {{ form.courseDescription }}
        <br>
        <div class="course-form__header">Course Student Count:</div>
        {{ form.courseStudentCount }}
        <div class="course-form__header">Course Groups:</div>
        {{ form.courseGroups }}
        <br>
        <button type="submit" class="course-form__button" onclick="alert('Course Created')">Submit</button>
    </div>
</form>

<p>
    <a href="{% url 'profHome' user.id %}">Go Back</a>
</p>
{% endblock %}