
{% extends 'base.html' %}
{% block body %}
<div class="container text-center">
<form method="POST" class="course-form" action="{% url 'createProf' user.id %}">
        {% csrf_token %}
<br>
    <div class="course-form__content">
        <h3 class="course-header">Enter Details</h3>
        <div class="course-form__header">Course Title:</div>
        {{ form.courseName }}
        {{ form.groupName }}
        <br>

        <div class="course-form__header">Course Description:</div>
        {{ form.courseDescription }}
        <br>
        <div class="course-form__header">Course Student Count:</div>
        {{ form.courseStudentCount }}

        <br>
        <br>
        <button type="submit" class="btn btn-dark" onclick="alert('Course Created')">Submit</button>
    </div>
</form>
<br>
<p class="text-center">
    <a href="{% url 'profHome' user.id %}" class="btn btn-dark">Go Back</a>
</p>
</div>
{% endblock %}