<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/website/style.css">
    <title>Course Groups</title>
</head>
<body>
<header>
        <div class="jumbotron">
            <a href="https://weber.edu/cs"><img src="/static/website/weber_east.png"></a>
        </div>
</header>
<h1 class="course-header">Course</h1>
<h2 class="course-header">{{course.courseName}}</h2>
<p class="course-form__content">
    You are able to manage your class groups below:
</p>
<h2 class="course-header">
    Group List
</h2>

<div class="row">
    {% for project in projects %}

        <div class="column">
            <div class="course-display">
                <p>
                    <a href="{% url 'projectDetail' project.id %}">
                    <img src="/static/website/project.png">
                    </a>
                    <a href="{% url 'updateProject' project.id %}">{{ project.projecttitle }}</a>
                    <br>
                    <a href="{% url 'updateProject' project.id %}">Edit</a> |
                    <a href="{% url 'deleteProject' project.id %}">Delete</a>
                </p>
            </div>
        </div>

    {% endfor %}
    </div>


<p>
    <a href="{% url 'profHome' %}" class="course-display__button">Go Back</a>
</p>
</body>
</html>