<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/website/style.css">
    <title>Course {{course.courseName}}</title>
</head>
<body>
<header>
        <div class="jumbotron">
            <a href="https://weber.edu/cs"><img src="/static/website/weber_east.png"></a>
        </div>
</header>
<h2 class="course-header">Course</h2>
<h3 class="course-header">{{course.courseName}}</h3>
<h2 class="course-header">Description</h2>
<h3 class="course-header">{{course.courseDescription}}</h3>
<h2 class="course-header">Number of Students</h2>
<h3 class="course-header">{{course.courseStudentCount}}</h3>
<h2 class="course-header">Groups</h2>
<h3 class="course-header">{{course.courseGroups}}</h3>
<p>
    <a href="{% url 'profHome' %}">Go Back</a>
</p>
</body>
</html>