
{% extends 'base.html' %}
{% block body %}
<form method="POST" class="course-form" action="{% url 'generateUser' group.id %}">
        {% csrf_token %}
<br>
    <div class="course-form__content">
        <h3 class="course-header">Enter first and last name:</h3>
        <div class="course-form__header">First Name:</div>
        {{ form.first_name }}
        <br>
        <div class="course-form__header">Last Name:</div>
        {{ form.last_name }}
        <br>
        <button type="submit" class="course-form__button">Submit</button>
    </div>
</form>

<p>
    <a href="{% url 'profHome' %}">Go Back</a>
</p>
{% endblock %}