
{% extends 'base.html' %}
{% block body %}
<form method="POST" action="{% url 'createGroup' course.id %}">
        {% csrf_token %}
<br>
    <div class="model-display">
        <h1 class=" display-6 m-1">
        Enter Details
        </h1>
        <div class="model-display__content">
            <h3 class="course-header">Group Name:</h3>
            {{ form.groupName }}
            <br>

            <h3 class="course-header">Group Description:</h3>
            {{ form.groupDescription }}
            <br>
            <br>
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </div>

</form>

<p>
    <a href="{% url 'profHome' request.session.userId %}" class="btn btn-dark m-3" >Go Back</a>
</p>
{% endblock %}