
{% extends 'base.html' %}
{% block body %}
<div class="container text-center">
<form method="POST" class="course-form" action="{% url 'createGroup' course.id %}">
        {% csrf_token %}
<br>

    <div class="course-form__content">
            <h3 class="course-header">Enter Details</h3>
        <div class="model-display__content">
            <div class="course-form__header">Group Name:</div>
            {{ form.groupName }}
            <br>

            <div class="course-form__header">Group Description:</div>
            {{ form.groupDescription }}
            <br>
            <br>
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </div>
</div>
</form>

<p>
    <a href="{% url 'profHome' request.session.userId %}" class="btn btn-dark m-3" >Go Back</a>
</p>
{% endblock %}