
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
<div class="password">
    <h1>The student's credentials are: </h1>
    <h1>Username: {{ user }}</h1>
    <h1>Password: {{ pass }}</h1>
    <h4>Please email these credentials to the correct student.</h4>
</div>
{% endblock %}
<br>
<p>
    <a href="{% url 'groupDetail' group.id %}" class="course-display__button">Group Details</a>
</p>
</body>
</html>