<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/website/style.css">
    <title>Group {{group.groupName}}</title>
</head>
<body>
<header>
        <div class="jumbotron">
            <a href="https://weber.edu/cs"><img src="/static/website/weber_east.png"></a>
        </div>
</header>

<div class="model-display">
    <p>
        Group Detail
    </p>
    <div class="model-display__content">
        <h2 class="course-header">Group</h2>
        <p>{{group.groupName}}</p>
        <h2 class="course-header">Description</h2>
        <p>{{group.groupDescription}}</p>
        <h2 class="course-header">Credentials</h2>
        {% block body %}
{% for user in user_list %}
    <div class="row">
    <div class="col-md-3 offset-md-2">
        <h3>{{ user.username }}</h3>
    </div>
    <div class="col-md-4">
        <h3>{{ user.password }}</h3>
    </div>
    </div>
{% endfor %}
{% endblock %}
        <br>
        <a href="{% url 'generateUser' %}" class="course-display__button">Generate Credentials</a>
    </div>
</div>
<br>
<br>
<p>
    <a href="{% url 'profHome' %}" class="course-display__button">Go Back</a>
</p>
</body>
</html>