<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/website/style.css">
    <title>Group {{group.groupName}}</title>
</head>
<body>
<header>
        <div class="jumbotron">
            <a href="https://weber.edu/cs"><img src="/static/website/weber_east.png"></a>
        </div>
</header>

<div class="model-display">
    <p>
        Group Detail
    </p>
    <div class="model-display__content">
        <h2 class="course-header">Group</h2>
        <p>{{group.groupName}}</p>
        <h2 class="course-header">Description</h2>
        <p>{{group.groupDescription}}</p>
        <h2 class="course-header">Credentials</h2>
        <p>{{group.groupCredentials}}</p>
        <br>
        <a href="" class="course-display__button">Generate Credentials</a>
    </div>
</div>
<br>
<br>
<p>
    <a href="{% url 'profHome' %}" class="course-display__button">Go Back</a>
</p>
</body>
</html>