{% extends "base.html" %}
{% block body %}
<body>
<br>
<div class="container text-center">
</div>
<form class="login-form" action="studentLogin" method="POST">
    {% csrf_token %}
            <div class="login-form__content text-center">
                <h3 class="course-header">Student Login</h3>
                <hr class="card">
                <div class="login-form__header">Login to your account</div>
                <div class="row justify-content-center">
                    {{ form.username }}
                </div>
                <br>
                <div class="row justify-content-center">
                    {{ form.password }}
                </div>
                <br>
                <button class="login-form__button" type="submit">Login</button>
            </div>
</form>
<div class="text-center">
<p class="lead">
    Not a Student?
    <br>
    <a href="{% url 'login'  %}" class="btn btn-dark m-3">Instructor Login</a>
</p>
  </div>

    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
</body>
{% endblock %}

<p>
    <a href="{% url ' ' %}" class="btn btn-dark m-3">Professor Login</a>
</p>
</html>