<!--User can log in-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Manager</title>
    <link rel="stylesheet" href="/static/website/style.css">
</head>
<body>
<header>
        <div class="jumbotron">
            <a href="https://weber.edu/cs"><img src="/static/website/weber_east.png"></a>
        </div>
</header>
<form class="login-form" action="./" method="POST">
            <div class="login-form__content">
                <div class="login-form__header">Login to your account</div>
                <input class="login-form__input" type="text" name="dc_username" placeholder="Username">
                <input class="login-form__input" type="password" name="dc_username" placeholder="Password">
                <button class="login-form__button" type="submit">Login</button>
            </div>
</form>

    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
</body>
</html>