<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Manager</title>
    <link rel="stylesheet" href="/static/website/style.css">
</head>
{% extends "base.html" %}
{% block content %}
<body>
<form class="login-form" action="./" method="POST">
    {% csrf_token %}
            <div class="login-form__content">
                <div class="login-form__header">Login to your account</div>
                <div class="row justify-content-center">
                    {{ form }}
                </div>
                <button class="login-form__button" type="submit">Login</button>
            </div>
</form>

    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
</body>
{% endblock %}
</html>