{% extends "base.html" %}
{% block body %}
<body>
<br>
<form class="login-form" action="./" method="POST">
    {% csrf_token %}
            <div class="text-center login-form__content">
                <h3 class="course-header">Instructor Login</h3>
                <hr class="card">
                <div class="login-form__header">Login to your account</div>
                <div class="row justify-content-center">
                    {{ form.username }}
                </div>
                <br>
                <div class="row justify-content-center">
                    {{ form.password }}
                </div>
                <br>
                <button class="login-form__button" type="submit">Login</button>
                <hr/>
                <div>
                    <a class="btn btn-dark m-6" href="{% url 'register'  %}">Register</a>
                </div>
                <hr>
                <div>
                    <a class="login-form" href="{% url 'resetPassword' %}">Password Reset</a>
                </div>
            </div>
</form>
<footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
</body>
{% endblock %}



</p>
</html>