{% extends "base.html" %}
{% block content %}
<body>
<h1 class="course-header">Welcome {{user.username}}!</h1>
<p class="course-form__content">
    You are able to manage your courses below:
</p>
<h2 class="course-header">
    Course List
</h2>

    <div class="row">
    {% for course in courses %}

        <div class="column">
            <div class="course-display">
                <p>
                    <a href="{% url 'detail' course.id %}">
                    <img src="/static/website/course.png">
                    </a>
                    {{ course.courseName }}
                    <br>
                    <a href="{% url 'updateProf' course.id %}">Edit</span></a> |
                    <a href="{% url 'deleteProf' course.id %}">Delete</a>
                </p>
            </div>
        </div>

    {% endfor %}
    </div>
<p>
    <br>
    <br>

    <a href="{% url 'createProf' %}" class="course-display__button">New Course</a>
    <a href="{% url 'createProf' %}"> <img src="/static/website/plus_icon.png"></a>
</p>
</body>
{% endblock %}