{% extends 'base.html' %}

{% block body %}
{% if user.role == 'admin' or user.role == 'faculty' %}
<h1 class="container-fluid course-header display-4 ">Welcome {{user.username}}!</h1>
<div>
<p class="lead">
    <a href="{% url 'group' %}" class="btn btn-dark m-3">Create Group</a>
    <br>
    <a href="{% url 'logout'  %}" class="btn btn-dark m-3">Logout</a>
</p>
</div>

{% elif user.role == 'student' %}
<div class="container">
    <p>
        You do not have permission to access this page
    </p>
</div>
{% endif %}
{% endblock %}
