{% extends 'base.html' %}

{% block body %}
{% if user.role == 'admin' or user.role == 'faculty' %}
<h1 class="container-fluid course-header display-4 ">Welcome {{user.username}}!</h1>
<p class="course-form__content lead border border-1">
    You are able to manage your courses below:
</p>
<h2 class="course-header m-2">
    Course List
</h2>
<div class="container-fluid">
    <div class="row m-0">
        {% for course in courses %}
        <div class="col-3">
            <div class="course-display">
                <p>
                    <a href="{% url 'detail' course.id %}">
                        <img src="/static/website/course.png">
                    </a>
                    <br>
                <h3 class="course-header">
                    {{ course.courseName }}
                </h3>
                <br>
                <a href="{% url 'updateProf' course.id %}" class="btn btn-outline-primary btn-sm">Edit</span></a> |
                <a href="{% url 'deleteProf' course.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<hr class="card">
<div class="container m-1">
    <p>
        <a href="{% url 'createProf' request.session.userId %}" class="btn btn-dark">New Course</a>
        <a href="{% url 'createProf' request.session.userId %}"> <img src="/static/website/plus_icon.png"></a>
    </p>
</div>

<div>
<p class="lead">
    <a href="{% url 'logout'  %}" class="btn btn-dark m-3">Logout</a>
</p>
</div>

{% elif user.role == 'student' %}
<div class="container">
    <p>
        You do not have permission to access this page
    </p>
</div>
{% endif %}
{% endblock %}
