{% extends 'base.html' %}
{% block body %}

<h1 class="container-fluid course-header display-4 ">Welcome {{ user.username }}!</h1>
<p class="course-form__content lead border border-1">
    You are able to manage your projects below:
</p>
<h2 class="course-header m-2">
    Project List
</h2>

    <div class="row m-0">
    {% for project in projects %}

        <div class="col-3">
            <div class="course-display">
                <h3><a href="{% url 'updateProject' project.id %}" class="course-header">{{ project.projecttitle }}</a></h3>
                    <br>
                    <a href="{% url 'projectDetail' project.id %}">
                    <img src="/static/website/project.png">
                    </a>
                    <br>
                    <br>
                    <a href="{% url 'updateProject' project.id %}" class="btn btn-outline-primary btn-sm">Edit</a> |
                    <a href="{% url 'deleteProject' project.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                <br>
                <br>
                </h3>
            </div>
        </div>

    {% endfor %}
    </div>
<hr class="card">
<p>
    <br>
    <br>

    <a href="{% url 'createProject' user.id %}" class="btn btn-dark">New project</a>
    <a href="{% url 'createProject' user.id %}"> <img src="/static/website/plus_icon.png"></a>
</p>

{% endblock %}